{% extends 'base.html.twig' %}
{% block extra_title %} Liste des scouts {% endblock %}

{% block body %}
    <div id="mainContent" class="main-content expanded">
        <div class="content">
            <h4 class="content-label">Gestion des scouts</h4>

            <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
                <h6 class="content-title">Liste des scouts</h6>
                <div>
{#                    <a href="{{ absolute_url(path('app_scout_upload')) }}" class="btn btn-lightgray"><span class="icon importer">Importer</span> </a>#}
                    <a href="{{ absolute_url(path('app_cache_delete_module', {module: 'scout'})) }}" class="btn btn-transparent"><span class="icon actualiser">Actualiser</span> </a>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <a href="{{ absolute_url(path('app_scout_new')) }}" class="btn btn-blue"><span class="icon ajouter">Ajouter</span> </a>
                    {% endif %}

                </div>

            </div>

            <div class="table-responsive mt-5">
                <table id="liste" class="table table-striped table-hover table-sm table-liste text-nowrap">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">REGIONS</th>
                        <th class="text-center">DISTRICTS</th>
                        <th class="text-center">GROUPES</th>
                        <th class="text-center">CODES</th>
                        <th class="text-center">MATRICULES</th>
                        <th class="text-center">NOMS & PRENOMS</th>
                        <th class="text-center">SEXES</th>
                        <th class="text-center">DATE NAISSANCE</th>
                        <th class="text-center">TELEPHONES</th>
                        <th class="text-center">FONCTIONS</th>
                        <th class="text-center">URGENCES</th>
                        <th class="text-center">STATUTS</th>
                        <th class="text-center">ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for scout in scouts %}
                        <tr>
                            <th class="text-center" scope="row">{{ loop.index }}</th>
                            <td>{{ scout.groupe.district.region.asn['sigle']|raw }} - {{ scout.groupe.district.region['nom']|raw }}</td>
                            <td>{{ scout.groupe.district['nom']|raw }}</td>
                            <td>{{ scout.groupe['paroisse']|raw }}</td>
                            <td class="text-center">{{ scout.code }}</td>
                            <td class="text-center">{{ scout.matricule }}</td>
                            <td>{{ scout.nom }} {{ scout.prenom }}</td>
                            <td class="text-center">{{ scout.sexe }}</td>
                            <td class="text-center">{{ scout.dateNaissance|date('Y-m-d') }}</td>
                            <td class="text-center">{{ scout.telephone }}</td>
                            <td>{{ scout.fonction }}</td>
                            <td class="text-center">{{ scout.telephoneParent }}</td>
                            <td class="text-center">{{ scout.statut }}</td>
                            <td class="text-center">
                                <a href="{{ absolute_url(path('app_scout_profile', {'id': scout.id}) )}}"><i class="bi bi-file-earmark-text"></i></a>
                                |
                                <a href="{{ absolute_url(path('app_scout_update', {'id': scout.id })) }}"><i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.3/css/buttons.dataTables.css">
{% endblock %}
{% block extra_javascripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>

    <script>
        document.addEventListener('turbo:load', function () {
            const table = document.querySelector('#liste');
            if (table && !table.classList.contains('dataTable-initialized')) {
                new DataTable(table, {
                    layout: {
                        topStart: {
                            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
                        }
                    },
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/2.3.0/i18n/fr-FR.json',
                        paginate: {
                            first: "Première",
                            last: "Dernière",
                            next: "Suiv",
                            previous: "Préc"
                        }
                    }
                });

                table.classList.add('dataTable-initialized'); // éviter la double initialisation
            }
        });

    </script>

{% endblock %}