<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}
                ScoutReady :: {% block extra_title %}{% endblock %}
            {% endblock %}</title>
        <link rel="icon" href="{{ absolute_url(asset('images/favico.png')) }}">
        {% block stylesheets %}
            {% block extra_stylesheets %}{% endblock %}
            <link rel="stylesheet" href="{{ absolute_url(asset('styles/app.css')) }}">
        {% endblock %}
    </head>
    <body>
    <div class="cover-overlay">
        <div class="overlay-layer"></div>
        <div class="wrapper">
            <header>
                <div class="menu-header">
                    <div class="container-fluid d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center gap-2">
                            <a href="#" class="brand-bar"><i class="bi bi-list"></i></a>
                            <a href="#" class="sr-logo">
                                <img src="{{ absolute_url(asset('images/favico.png')) }}" alt="" class="sr-logo-img">
                                <span class="sr-logo-text">ScoutReady</span>
                            </a>
                        </div>
                        <ul class="nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="bi bi-bell"></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="{{ absolute_url(asset('images/avatar.jpg')) }}" alt="" class="avatar rounded-circle">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-person-square"></i>
                                            Profile</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-envelope"></i> Messages</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{{ absolute_url(path('app_logout')) }}"><i class="bi bi-unlock"></i> Déconnexion</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main>
                <aside id="sidebar" class="menu-vertical">
                    <div class="mobile-close d-md-none text-end p-2">
                        <button class="btn btn-sm btn-outline-secondary close-menu">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>

                    <ul class="nav flex-column">
                        <li class="nav-item label">
                            <label for="">Tableau de bord</label>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ absolute_url(path('app_dashboard')) }}"><i class="bi bi-bar-chart"></i>
                                Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-graph-up-arrow"></i> Analytics</a>
                        </li>
                        <li class="nav-item label">
                            <label for="">Rubriques</label>
                        </li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ absolute_url(path('app_asn_list')) }}"><i class="bi bi-dice-6"></i> ASN</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ASN') %}
                            <li class="nav-item">
                                <a class="nav-link"><i class="bi bi-dice-5"></i> Région</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_REGION') %}
                            <li class="nav-item">
                                <a class="nav-link"><i class="bi bi-dice-4"></i> Districts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"><i class="bi bi-dice-3"></i> Groupes</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link"><i class="bi bi-people"></i> Scouts</a>
                        </li>
                        <li class="nav-item label">
                            <label for="">Actions</label>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="bi bi-ui-checks"></i> Activités</a>
                        </li>

                        <li class="nav-item label">
                            <label for="">Paramètres</label>
                        </li>
                        <li class="nav-item">
                            <a href="{{ absolute_url(path('app_admin_user_index')) }}" class="nav-link"><i class="bi bi-lock"></i> Sécurité</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ absolute_url(path('app_api_credential_index')) }}" class="nav-link"><i class="bi bi-key"></i> ApiKey</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="bi bi-person-fill-lock"></i> Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="bi bi-graph-up"></i> Monitoring</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ absolute_url(path('app_admin_user_logs')) }}" class="nav-link"><i class="bi bi-journal-text"></i>Logs</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ absolute_url(path('app_cache_delete_all')) }}" class="nav-link"><i class="bi bi-database-down"></i>Cache</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ absolute_url(path('app_config_redis_reel')) }}" class="nav-link"><i class="bi bi-database-fill-gear"></i>Redis</a>
                        </li>
                    </ul>
                </aside>
                {% block body %}{% endblock %}

            </main>

        </div>
    </div>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% block extra_javascripts %}{% endblock %}
    {% endblock %}
{#    <script src="{{ asset('assets/menu-_W3Eq_Y.js') }}"></script>#}
    </body>
</html>
